.chat-component {
  float: right;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100vh;
  padding: 14px 32px;
}

.chatroom {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  margin-bottom: 12px;
}

.chat-name {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 14px;
}

.chat-username {
  color: darkslateblue;
  font-size: 18px;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
}

.chat-msg {
  max-width: 99%;
  line-height: 26px;
  word-wrap: break-word;
}

.chat-input-div {
  display: flex;
  /* white-space: nowrap; */
}

.chat-input {
  /* width: auto; */
  font: normal 16px 'Open Sans', sans-serif;
  flex-grow: 1;
  height: 34px;
  margin-right: 6px;
  border-radius: 5px;
  text-indent: 6px;
}

.chat-submit {
  font: normal 16px 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: right;
  position: relative;
  padding: 4px 20px 4px 20px;
  background: white;
  border: 2px solid white;
  color: #2c2c3e;
  transition: 0.6s ease;
}

.chat-submit:hover {
  color: #c0c0c0;
  transition: 0.6s ease;
}