.chat-component {
  float: right;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100vh;
  padding: 14px 32px;
  border-left: 1px solid lightgrey;
}

.chatroom {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  margin-bottom: 12px;
}

.chat-name {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 14px;
  border-bottom: 1px solid lightgrey;
}

.chat-user {
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
  justify-content: space-between;
}

.chat-user-avatar {
  height: 36px;
  padding-right: 6px;
}

.chat-user-name {
  position: relative;
  transform: translateY(25%); 
  color: darkslateblue;
  font-size: 18px;
  font-weight: bold;
}

.chat-msg {
  max-width: 99%;
  line-height: 26px;
  word-wrap: break-word;
  padding-left: 42px;
}

.chat-input-div {
  display: flex;
}

.chat-input {
  font: normal 16px 'Open Sans', sans-serif;
  flex-grow: 1;
  height: 34px;
  margin-right: 6px;
  border-radius: 5px;
  text-indent: 6px;
  margin-left: 42px;
}

.chat-submit {
  font: normal 16px 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: right;
  position: relative;
  padding: 4px 20px 4px 20px;
  background: white;
  border: 2px solid white;
  color: #2c2c3e;
  transition: 0.6s ease;
}

.chat-submit:hover {
  color: #c0c0c0;
  transition: 0.6s ease;
}

.chat-right {

}

.chat-date {
  color: red;
}

.chat-time {
  color: green;
}